.drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  > .drawer-main-pane {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include transition (all 0.3s ease-in-out);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
  }
  
  > .drawer-left-pane {
    position: absolute;
    width: calc(100% - 44px);
    top: 0;
    bottom: 0;
    left: 0;
    @include transform(translateX(calc(-100% / 2)));
    @include transition (all 0.3s ease-in-out);
    z-index: -10;
  }
  
  > .drawer-right-pane {
    position: absolute;
    width: calc(100% - 44px);
    top: 0;
    bottom: 0;
    right: 0;
    @include transform(translateX(calc(100% / 2)));
    @include transition (all 0.3s ease-in-out);
    z-index: -10;
  }
}

.drawer.drawer-right {
  > .drawer-main-pane {
    @include transform(translateX(calc(100% - 44px)));
  }
  > .drawer-left-pane {
    @include transform(translateX(0));
  }
  > .drawer-right-pane {
    @include transform(translateX(calc((100% - 44px) + 100%)));
  }
}

.drawer.drawer-left {
  > .drawer-main-pane {
    @include transform(translateX(calc(-100% + 44px)));
  }
  > .drawer-left-pane {
    z-index: -11;
  }
  > .drawer-right-pane {
    @include transform(translateX(0));
  }
}